<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta http-equiv="Content-Security-Policy" content="img-src 'self' 
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/accuvend-logo.png 
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/ABA.png
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/ABUJA.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/BENIN.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/EKO.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/ENUGU.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/IBADAN.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/IKEJA.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/JOS.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/KADUNA.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/KANO.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/PORTHARCOURT.jpeg
    https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/YOLA.jpeg
     data:;">
    <title> Accuvend </title>
    <meta name="description" content="Reset Password Email Template.">
    <style type="text/css">
        a:hover {
            text-decoration: underline !important;
           
        }
        @font-face {
            font-family: 'newfont';
            src: url('https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/PayPalSansBigRegular.ttf');

        }
        html {
            font-family: 'newfont';
            
        }
        
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" 
    style="margin: 0px; src: url(https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/PayPalSansBigRegular.ttf); background-color: #f2f3f8; box-sizing: border-box;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://ui-fonts-bucket.s3.eu-west-2.amazonaws.com/PayPalSansBigRegular.ttf); ">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:700px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            
                        </td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <%- contentTemplate %>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <p style="font-size:x-small; font-weight: 200; color:#006FCF; line-height:18px; margin:0 0 0;">&copy;
                                <strong> Accuvend LTD 2024 </strong>
                            </p>
                            <div >
                                <span style="margin-top: 10px; font-size:xx-small; color:#006FCF;">
                                   <b> Address: </b>7b, Ibiyinka Olorunbe, Workstation, Lagos, NG.
                                </span>
    
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>
